# === 前端 Flutter/Dart 忽略清單 (已修正路徑) ===
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
# 拿掉最前面的斜線，這樣不管 build 在哪層都會被擋掉
build/
coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
# 加上 **/ 讓它懂得找 app 資料夾裡面的 android
**/android/app/debug
**/android/app/profile
**/android/app/release

# === 後端 Django 忽略清單 ===
venv/
.env
__pycache__/
*.pyc
prescriptions/
db.sqlite3